* {
    margin: 0;
    padding: 0;
    font-size: 20px;
}
body {
    font-family: "Times New Roman", Times, serif;
    background-color: #f4f4f4;
}
header {
    background-color: #002b6b;
    color: white;
    text-align: center;
    padding: 20px;
}
header h1 {
    font-weight: bold;
}
header p {
    margin-top: 5px;
}
.about-container {
    width: 95%;
    margin: 40px auto;
    background-color: #cfe3ff;
    padding: 30px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    gap: 30px;
}

.about-container img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}
.content h2 {
    color: #002b6b;
    margin-bottom: 15px;
}

.content h3 {
    color: #002b6b;
    margin-top: 20px;
}

.content p {
    text-align: justify;
    line-height: 1.8;
}

.content ul {
    margin-top: 10px;
    margin-left: 20px;
}

.content li {
    line-height: 1.8;
}
/* EDUCATION SECTION */

.education-section {
    margin-top: 40px;
}

.section-title {
    color: #002b6b;
    margin-bottom: 25px;
    position: relative;
}

.section-title::after {
    content: "";
    width: 70px;
    height: 4px;
    background: #b86cff;
    display: block;
    margin-top: 8px;
    border-radius: 10px;
}

.education-container {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    gap: 30px;
    flex-wrap: nowrap;
    width: 100%;
}

.education-card {
    flex: 1;
    max-width: 350px;
    background: #fff;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: 0.3s ease;
}

.education-card:hover {
    transform: translateY(-8px);
}

.edu-header {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

.edu-icon {
    width: 60px;
    height: 60px;
    background: #d7e8ff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.edu-details h3 {
    margin: 0;
    color: #333;
}

.year {
    color: gray;
    font-size: 20px;
}

.college-name {
    color: #555;
    margin-bottom: 20px;
    line-height: 1.6;
}

.edu-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.status {
    padding: 6px 14px;
    border-radius: 20px;
    font-size: 14px;
}

.ongoing {
    background: #dce8ff;
    color: #2563eb;
}

.completed {
    background: #f0dfff;
    color: #9333ea;
}
@media (max-width: 992px) {
    .education-container {
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .about-container {
        flex-direction: column;
        text-align: center;
    }

    .about-container img {
        width: 200px;
        height: 200px;
    }

    .education-card {
        width: 100%;
    }
}
.btn {
    background-color: #002b6b;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 20px;
}

.btn:hover {
    background-color: #0044aa;
}